<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/error-500-7114910-5757077.png">
    <title>Erreur 500</title>
    <style>
        body {
            background-image: url(https://static.doofinder.com/main-files/uploads/2019/09/error-500-doofinder.jpg);
            background-size: contain;
           background-repeat: no-repeat;
           background-size: cover;
           background-attachment: fixed;

        }
        h1{ color: rgba(253,0,105,255);
          font-style: italic; 
        }
        /* Votre style CSS personnalisé ici */
    </style>
</head>
<body>
    <a href="http://localhost:8080/INDEX.html">Accéder à la page d'accueil</a>
    <form action="" method="post"></form>
    <center>
 <h1>Erreur 500 - Internal Server </h1>
    </center>
   
    <!-- Votre contenu HTML personnalisé ici -->
</body>
</html>