<!DOCTYPE html>
<html>
<head>
    <title>Erreur 404</title>
    <style>
        body {
            background-image: url(https://kfg6bckb.media.zestyio.com/yalantis-interactive-404.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        h1{
            color: aliceblue;
        }
        /* Votre style CSS personnalisé ici */
    </style>
</head>
<body>
    <a href="http://localhost:8080/INDEX.html">Accéder à la page d'accueil</a>
    <form action="" method="post"></form>
    <h1>Erreur 404 - Not Found </h1>
    <!-- Votre contenu HTML personnalisé ici -->
</body>
</html>