
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <title>Ascii-art-web</title>
</head>
<body>
  <main class="container">
    <h1>ASCII art convertor</h1>
    <form id="top" method="POST">
      <textarea name="msg" cols="30" rows="10"></textarea>
      <select name="banner">
        <option value="standard" selected>Standard</option>
        <option value="shadow">Shadow</option>
        <option value="thinkertoy">Thinkertoy</option>
        <option value="custom">Custom</option>
      </select>
      <button type="submit" name="submit">Submit</button>
    </form>
    <div id="bottom">
          <pre>{{ . }}</pre> <!-- Take output variable from ascii program -->
    </div>
  </main>
</body>
</html>